= form_tag list_globalize_translations_path, :class => "search", :method => :get do
  %p
    I18n backend:
    = select_tag "type", options_for_select([ ["Globalize store (database)", "db"], ["YAML (application)", "yaml-app"], ["YAML (application and gems)", "yaml"] ], :selected => params[:type]), :include_blank => "All"

    Language:
    = select_tag "locale", options_for_select(@languages, :selected => params[:locale]), :include_blank => "All"

    = submit_tag "show"

= raw(HashToHTML(@translations)) if @translations.present?
