!!!
%html
  %head
    %title= "Exvo Globalize translations"
    %meta{ :name => "robots", :content => "noindex, nofollow" }
    :css
      html, body, fieldset, form, input, select, textarea {
        font: 13px/130% "Lucida Grande", Tahoma, Verdana, Helvetica, Arial, sans-serif;
      }

      p.request_host {
        background: #f9fdf1;
        border: 1px solid #d2e1b8;
        font: 12px Verdana, Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0.6em 1em;
        position: absolute;
        right: 1em;
        text-align: center;
        top: 1em;
      }

      p.request_host span {
        display: block;
        font-weight: bold;
        margin: 0.2em auto;
      }

      form p {
        background: #f9fdf1;
        border: 1px solid #d2e1b8;
        margin: 1em 0;
        padding: 1em 1.2em;
        width: 600px;
      }

      select {
        margin-right: 12px;
      }

      ul {
        margin-bottom: 1em;
        padding-left: 1em;
      }

      li {
        color: #eee;
        list-style: disc;
      }

      li strong {
        color: #509e43;
        margin-right: 0.2em;
      }

      li span {
        color: black;
      }

  %body
    %p
      = link_to 'Main page',  globalize_translations_path
      |
      = link_to 'Translations list', list_globalize_translations_path

    %p.request_host
      Request host:
      %span= @globalize_app.request_host

    = yield
